<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" type = "text/css"  href="{% static 'bulma.css' %}" >
    <style>
        h1
        {
        font-size:30px
        }
    </style>
</head>
<body>
<h1 align="center"><b>TODO Item</b></h1>
<a href="add/" align="center" class="tag is-light is-medium">add items</a>
<table class="table is-bordered is-striped is-hoverable " border="3" align="center" width="75%">
    <tr>
        <th>
            description
        </th>
        <th>
            due_date
        </th>
         <th>
            completed
        </th>
        <th>
            modify
        </th>
    </tr>
    {% for college in item %}
    <tr>
        <td>{{ college.description }}</td>
        <td>{{ college.due_date }}</td>
        <td>{{ college.completed }}</td>
        <td><a href="{{ college.id }}/edit/">edit</a> || <a href="{{ college.id }}/delete/">delete</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>