<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type = "text/css"  href="{% static 'bulma.css' %}" >
    <title>Title</title>
    <style>
        .per
        {
            width : 30%;
        }
        h1
        {
        font-size:40px;
        }
    </style>
</head>
<body>
<h1 align="center"><b>Login</b></h1><br>
<div align="center">
<form method="POST" class="form" >
{% csrf_token %}
    <!--{{ form.as_p }}-->
    {{ form.username }}<br><br>
    {{ form.password }}<br><br>
    <input type="submit" class="button is-primary" align="center"><br>
    <br>
    <a href="{% url 'signup_url' %}"  class="tag is-light is-medium">signup</a>
</form>
</div>
</body>
</html>